<p>
<br></br>
You have submitted the following albums (0):
<ol>
<% @match_list.each do |match_object| %>
<li><%= match_object.search %> - <%= match_object.result %> <%= progress_bar(match_object.percentage, :color => 'blue', :rounded => true) %> </li>
<% end %>
</ol>

</p>

