<p>
<br></br>
You have submitted the following albums (0):
<ol>
<% @submission.each do |album| %>
<li><%= album %> <%= progress_bar(33, :color => 'blue', :rounded => true) %> </li>
<% end %>
</ol>

</p>

